* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(background.png);
}


/* first div */

.maindiv {
    width: 992px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 0px 0px 11px 29px;
}


/* second div */

.maindiv2 {
    width: 992px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 14px;
    border-radius: 11px 11px 0 0;
}


/* navigation start */

.navigation {
    border: 1px solid #fff;
    border-radius: 0px 0px 11px 11px;
}


/* top navigation start */

.navigation1 {
    display: flex;
    padding: 4px 8px 0 8px;
}

.navtext1 {
    padding: 22px 42px;
    display: flex;
}

.pstyle1 {
    font-size: 23px;
    font-family: sans-serif;
    background: -webkit-linear-gradient(#4f7d68, #004800d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.leafimg {
    margin-top: 0px;
    margin-left: 38px;
}

.nav1ul {
    margin-bottom: 5px;
}

.pstyle2 {
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    color: #52826b;
    font-weight: bold;
}

.list1 {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: #795548;
    border-right: 1px solid #714141a3;
    padding: 0 8px;
}

.list2 {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: #795548;
    border-right: 1px solid #714141a3;
    padding: 0 8px;
}

.list3 {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: #795548;
    padding: 0 8px;
}

.searchdiv {
    width: 111%;
    margin: 10px 0;
}

.inputsearchstyle {
    width: 88%;
    margin-right: -4px;
    padding: 2px;
}

.buttonstyle {
    background: linear-gradient(to top, #693C3B 0%, #B88A87 100%);
    color: #fff;
    border: 1px solid #8E716F;
    padding: 3px;
    font-size: 13px;
}


/* top navigation finish */


/* bottom navigation start */

.navigation2 {
    background: linear-gradient(to top, #693C3B 0%, #B88A87 100%);
    overflow: auto;
    padding: 0 8px;
    color: #fff;
    margin-top: -18px;
    position: relative;
    padding-right: 4px;
    border-radius: 0px 0px 8px 11px;
}

.nav2div1 {
    float: left;
    display: flex;
}

.nav2div2 {
    float: right;
}

.diva {
    padding: 4px 16px;
    font-size: 16px;
    font-weight: bold;
    border-right: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}

.pstyle3 {
    padding: 4px 16px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}


/* bottom navigation finish */

.centerdiv {
    display: inline-block;
}

.leftsidediv {
    width: 23%;
    float: left;
}


/* right side div start*/

.rightsidediv {
    width: 76.9%;
    float: right;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.container img {
    vertical-align: middle;
    margin-top: 1px;
}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    width: 45%;
    padding: 20px;
    margin-left: 372px;
    margin-bottom: 20px;
}

.leftcontent {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    color: #00000070;
    font-size: 8px;
    font-family: sans-serif;
}

.leftcontentspan {
    color: black;
    padding: 5px 5px;
}

.imghstyle {
    font-family: sans-serif;
    font-size: 29px;
    font-weight: 100;
}

.imgspan {
    font-weight: bold;
}


/* right div image part finish */


/* left div start*/

.l1div {
    margin: 10px;
    border: 1.4px solid #693c3ba8;
}

.products {
    font-size: 19px;
    font-family: serif;
    background: linear-gradient(to top, #693C3B 0%, #B88A87 100%);
    color: #fff;
    padding: 1px 0 1px 7px;
}

.productslist {
    background-color: #f2f2f2;
    padding: 14px 20px;
    font-family: sans-serif;
    font-size: 14px;
}

.proctlist1 {
    padding: 4px 2px;
}

.imgstyle1 {
    margin-left: -24px;
    margin-top: 10px;
    margin-bottom: -6px;
}

.imgstyle3 {
    margin-left: 11px;
}

.imgstyle2 {
    width: 100%;
    border: 1.4px solid #693c3ba8;
}

.imgstyle4 {
    padding: 31px 2px;
    width: 69%;
    margin-left: 30px;
}

.organicupdate {
    margin: 9px 0;
    font-family: sans-serif;
    font-size: 15px;
}

.Kosherupdate {
    font-family: sans-serif;
    font-size: 15px;
}

.imgstyle5 {
    padding: 0px 10px;
    max-height: 12.5px;
}

.inputname {
    margin-top: 12px;
    border: 2px solid #80808096;
    padding: 2px 2px;
    font-size: 13px;
    color: #80808096;
    width: 95%;
}

.inutemailaddress {
    margin-top: 4px;
    border: 2px solid #80808096;
    padding: 2px 2px;
    font-size: 13px;
    color: #80808096;
    width: 95%;
}

.l2div {
    margin: 10px;
    position: relative;
    max-width: 800px;
}

.l2div img {
    vertical-align: middle;
}

.l2div .conten1 {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.5);
    color: black;
    width: 100%;
    padding: 7px;
}

.needassistance {
    font-size: 18px;
    font-family: sans-serif;
    color: #2A221B;
}

.l2div .content2 {
    bottom: 0;
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.5);
    color: black;
    margin-left: 0px;
    width: 100%;
    padding: 7px;
}

.l3div {
    margin: 10px;
    border: 1.4px solid #693c3ba8;
}

.getupdate {
    font-size: 19px;
    font-family: serif;
    background: linear-gradient(to top, #693C3B 0%, #B88A87 100%);
    color: #fff;
    padding: 1px 0 1px 7px;
}

.getupdatelist {
    background-color: #f2f2f2;
    padding: 14px 20px;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
}

.buttonstyle1 {
    background: linear-gradient(to top, #693C3B 0%, #B88A87 100%);
    color: #fff;
    margin: 7px;
    padding: 3px 5px;
    font-family: sans-serif;
    margin-left: 35px;
    border: 1px solid #693C3B;
}


/* left div finish */


/* right div start */

.rightdiv1 {
    float: left;
    width: 69%;
    font-family: sans-serif;
    margin-bottom: 161px;
}

.rightdiv2 {
    float: right;
    width: 31%;
    margin-top: 6px;
}

.pstyle4 {
    font-size: 14px;
    display: flex;
    margin-bottom: 9px;
}

.innerp {
    font-family: sans-serif;
    font-size: 14px;
}

.hstyle {
    font-size: 22px;
    font-weight: 300;
    padding: 10px 10px;
    color: #4f7d68;
}

.imgstyle6 {
    padding: 2px 8px;
    max-height: 23px;
}

.latestnews {
    font-family: serif;
    font-size: 12px;
    margin-right: 10px;
    border: 1.9px solid #693c3ba8;
}

.news {
    font-size: 18px;
    font-family: serif;
    background: linear-gradient(to top, #693C3B 0%, #B88A87 100%);
    color: #fff;
    padding: 1px 0 1px 7px;
}

.newslist {
    padding: 10px;
    background-color: #f2f2f2;
    font-size: 13.5px;
}

.newspstyle {
    margin-top: 8px;
}

.spannews {
    color: #1d6d1d;
    text-decoration: underline;
}

.certificationdiv {
    font-family: serif;
    margin-right: 10px;
    margin-top: 5px;
    border: 1.9px solid #693c3ba8;
}

.certification {
    font-size: 18px;
    font-family: serif;
    background: linear-gradient(to top, #693C3B 0%, #B88A87 100%);
    color: #fff;
    padding: 1px 0 1px 7px;
}

.certificationlist {
    padding: 10px;
    background-color: #f2f2f2;
    font-size: 13.5px;
}

.certificationp {
    padding: 4px 4px;
}


/* right div finish */


/* last right div start*/

.footer {
    display: flex;
    clear: both;
    margin-left: -12px;
}

.footerproducts {
    border-right: 2px solid #9e9e9e1f;
    padding: 0 30px 0 12px;
    border-left: 2px solid #9e9e9e1f;
}

.footerinfo {
    border-right: 2px solid #9e9e9e1f;
    padding: 0px 39px 10px 20px;
}

.footerstarwestsites {
    border-right: 2px solid #9e9e9e1f;
    padding: 0 30px 0 12px;
}

.footerlinks {
    border-right: 2px solid #9e9e9e1f;
    padding: 0 44px 0 12px;
}

.footerlast {
    padding: 33px 2px 10px 12px;
    text-align: right;
}

.footerp {
    color: #795548de;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}


/* last right div finish*/